@model List<DesignPattern.Facade.DAL.Customer>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Müşteri Adı</th>
            <th>Müşteri Soyadı</th>
            <th>Müşteri Şehri</th>
        </tr>
        @foreach(var item in Model){
            <tr>
                <td>@item.CustomerID</td>
                <td>@item.CustomerName</td>
                <td>@item.CustomerSurname</td>
                <td>@item.CustomerCity</td>
            </tr>
        }
    </table>
    <a href="/Customer/AddNewCustomer" class="btn btn-primary">Yeni Müşteri Giriniz</a>
</div>